.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-login {
  /*width: 501px;*/
  display: flex;
}

.card-login {
  width: 25rem;
  overflow: hidden;
}

:host ::ng-deep .p-password,
:host ::ng-deep .p-password input {
  width: 100%;
}

:host ::ng-deep .w-full button {
  width: 100%;
}

/* Celulares */
@media (max-width: 480px) {
  .login-container {
    background-size: 100%;
    background-position: center top;
  }
}