.container {
  background-color: #c0c1eca4;
  min-height: 100vh;
}

.modules-container {
  display: grid;
  /* 3 columnas fijas */
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2.5rem;
  max-width: 700px;
  margin: auto;
}

.module-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.module-card:hover {
  transform: translateY(-6px) scale(1.03);
}

.icon-container {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.08);
}

.icon-container i {
  font-size: 4.5rem;
  color: #6366f1;
}

.module-title {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #374151;
  text-align: center;
}

/* Tablet */
@media (max-width: 900px) {
  .modules-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .modules-container {
    grid-template-columns: 1fr;
  }
}