<div class="container">
  <p-menubar [model]="menuItems">  
    <ng-template #end>
      <span>Usuario</span>
    </ng-template>
  </p-menubar>
  <div class="modules-container">
    @for (modulo of modulos(); track modulo.nombre) {
    <div class="module-card" [pTooltip]="modulo.descripcion" tooltipPosition="bottom" (click)="abrirModulo(modulo)">
      <div class="icon-container">
        <i [class]="modulo.icono"  [style.color]="modulo.color"></i>
      </div>
      <span class="module-title">
        {{ modulo.nombre }}
      </span>
    </div>
    }
  </div>
</div>
